<section class="join" id="join">
  <h2 class="join__h2">Приєднуйся</h2>
  <hr />
  <p class="join__text">Запишись на екскурсію</p>
  <div class="join__div__input1">
    <input class="join__input" type="text" placeholder="Імя" />
    <input class="join__input" type="text" placeholder="Прізвище" />
  </div>
  <div class="join__div__input2">
    <input class="join__input" type="text" placeholder="Email" />
    <input class="join__input" type="text" placeholder="Номер телефону" />
  </div>

  <input
    class="join__input__subject"
    type="text"
    placeholder="Чому хочете прийти?"
  />
  <input
    class="join__input__something"
    type="textarea"
    placeholder="Розкажіть щось про себе"
  />
  <button class="join__button">Відправити</button>
</section>
