<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap"
  rel="stylesheet"
/>

<section class="about" id="about">
  <div class="introduction">
    <h2 class="introduction__title">Вітаємо</h2>
    <p class="introduction__text">В Тернополі</p>

    <svg class="arrow">
      <use href="./images/symbol-defs24.svg#icon-Component-1arrow"></use>
    </svg>
    <img
      class="introduction__img"
      src="./images/depositphotos_420677084-stock-photo-ternopil-ukraine-01-05-2020.jpeg"
      alt="vr"
    />
    <img
      class="introduction__img2"
      src="./images/stock-photo-live-542877.jpeg"
      alt=""
    />
  </div>
  <div class="container">
    <p class="introduction__text1">
      Тернопіль – це місто в західній частині України, яке вражає своєю історією
      та красою. Воно славиться архітектурною спадщиною, де гармонійно
      поєднуються старовинні літні палаці та сучасні будівлі. Тернопіль
      розташований на берегах Серета, а його центральна площа, затишна і зелена,
      називається Проспектом Свободи
    </p>
    <h2 class="about__title">Тернопіль</h2>
    <p class="about__text">Про моє місто</p>
    <p class="about__text1">
      Розташоване на берегах мальовничого Серета, Тернопіль славиться своєю
      архітектурною спадщиною. Вулиці міста прикрашені старовинними будівлями, а
      головна площа, Проспект Свободи, стала символом теплої атмосфери. Місто
      багате національними пам'ятками, включаючи Поштову палату та Дерев'яну
      церкву святого Юра. Тернопіль визначається гостинністю своїх мешканців та
      теплим прийомом для гостей. Місто активно розвивається культурно та
      соціально. Тут часто проводяться фестивалі, концерти та мистецькі події.
      Любителі активного відпочинку можуть насолоджуватися парками та
      набережними Серета. Тернопіль також славиться своєю кухнею — у місцевих
      кав'ярнях та ресторанах можна скуштувати традиційні українські страви.
      Місто, об'єднане сучасністю та історією, пропонує неповторний досвід для
      тих, хто бажає відкрити для себе барвистий світ Тернополя та його
      неповторної культурної спадщини.
    </p>
    <button class="about__button">
      <a
        class="about__button__link"
        href="https://uk.wikipedia.org/wiki/%D0%A2%D0%B5%D1%80%D0%BD%D0%BE%D0%BF%D1%96%D0%BB%D1%8C"
        >Більше про Тернопіль</a
      >
    </button>
  </div>
</section>
